html *{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(32, 32, 32);
    margin: auto;
}

.h1-text{
    text-align: center;
}
.intro-text{
    font-family: Arial;
}

.get-started-button{
    background-color: rgb(0, 255, 255);
    border: none;
    border-radius: 10px;
    transition: opacity 0.15s;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.get-started-button:hover{
    opacity: .3;
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.tab {
    cursor: pointer;
    padding: .75rem;
    padding-left: 8.247rem;
    padding-right: 8.247rem;
}

.tab.active {
    background-color: rgb(27, 78, 38);
}

.tab:hover {
    background-color: rgb(24, 124, 46);
}
